{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {{ page_title|default:"GPWeekend" }}
            {% endblock title %}
        </title>
        <link href="{% static "clock/main.css" %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
