{% extends 'clock/base.html' %} 

{% block title %}{{ title }}{% endblock title %}

{% block content %}
{% if sessions_list %}
<h1>{{ venue }}</h1>
<img src="https://www.countryflags.io/{{ country }}/flat/64.png">
<h2>{{ next_session.session }}</h2>
{% else %}
<p>No sessions today</p>
{% endif %}
{% endblock content %}
