<!--<h1>{{ day }}</h1>-->
{% if object_list %}
<ul>
    {% for session in object_list %}
    <li>{{ session }} at {{session.start}} for {{session.duration}}</li>
    {% endfor %}
</ul>
{% else %}
<h1>No sessions today</h1>
{% endif %}
