@font-face {
    font-family: 'Formula1-Regular';
    src: url('Formula1-Regular.eot');
    src: url('Formula1-Regular.eot?#iefix') format('embedded-opentype'),
        url('Formula1-Regular.woff2') format('woff2'),
        url('Formula1-Regular.woff') format('woff'),
        url('Formula1-Regular.ttf') format('truetype'),
        url('Formula1-Regular.svg#Formula1-Display-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Formula1-Regular';
}
